{% extends "base.html" %}

{% block title %}
    Resume
{% endblock %}
<div class="container-fluid py-1">
  <h1> Alan's Resume </h1>
</div>

{% block content %}
    <div class="container-fluid text-center">
        <h3>Alan's Resume</h3>
    </div>
    <div class="container-fluid text-center">
        <p> Alan Garcia | 623-213-3255 | alangarcia1996@gmail.com | <a href="https://www.linkedin.com/in/alan-garcia-swe/">LinkedIn</a> | <a href="https://github.com/selidrium">GitHub</a> | <a href="https://youtube.com/@selidrium">YouTube</a></p>
    </div>
    <br>
    <div class="container-fluid text-left">

<!--    Work Experience    -->

        <p class="text-center"><b><u>Work Experience</u></b></p>
        <p><b>SRP | Network Ops & Control Technician I</b></p>
        <p class="text-end">3/2023-Present </p>
        <ul>
            <li>
                Monitor and promptly respond to security incidents, effectively identifying and mitigating risks in the data center environment.
            </li>
            <li>
                Enforce strict access control measures, ensuring the integrity and confidentiality of critical systems and data.
            </li>
            <li>
                Collaborate with cross-functional teams, including network engineers and system administrators, to address infrastructure-related requirements and optimize system performance.
            </li>
            <li>
                Conduct regular system and equipment checks, proactively identifying and resolving technical issues to maintain optimal data center operations.
            </li>
            <li>
                Implement and maintain accurate documentation of equipment inventory, configurations, and changes, ensuring effective asset management and compliance.
            </li>
            <li>
                Participate in disaster recovery drills, contributing to the testing and development of robust recovery plans.
            </li>
            <li>
                Utilize monitoring tools to assess server and network health, promptly responding to alerts and ensuring uninterrupted system availability.
            </li>
            <li>
                Assist in troubleshooting and resolving complex technical issues, demonstrating strong problem-solving skills and attention to detail.
            </li>
            <li>
                Comply with security protocols, adhering to industry best practices and maintaining a secure data center environment.
            </li>
            <li>
                Contribute actively to the development and improvement of standard operating procedures for data center operations.
            </li>
        </ul>

<!--    Content Creator    -->
        <br>
        <p><b><a href="https://youtube.com/@selidrium">YouTube</a> | Cybersecurity Analyst | Content Creator</b></p>
        <p class="text-end">2023</p>
        <ul>
            <li>
                Demonstrated expertise in analyzing and explaining complex cybersecurity concepts, vulnerabilities, and attack techniques in a clear and accessible manner.
            </li>
            <li>
                Researched and covered various cybersecurity domains, including network security, threat intelligence, incident response, secure coding, and risk assessment.
            </li>
            <li>
                Utilized visual aids, demonstrations, and real-world examples to enhance viewers' understanding and practical application of cybersecurity principles.
            </li>
        </ul>

<!--    EPCOR    -->
        <br>
        <p><b>EPCOR | Treatment Operator II</b></p>
        <p class="text-end">11/2018-3/2023 </p>
        <ul>
            <li>
                Responsible for monitoring and adjusting various equipment and systems involved in the treatment process.
            </li>
            <li>
                Adhering to local, state, and federal regulations governing water treatment processes and water quality standards.
            </li>
            <li>
                Emergency response to quickly to mitigate risks and restore normal operations. Followed established emergency protocols, coordinate with relevant personnel, and communicate effectively to address and resolve the situation.
            </li>			  	                                                                       </li>
        </ul>

<!--    Education    -->
        <br>
        <p class="text-center"><b><u>Education</u></b></p>
        <ul class="list-group">
            <li class="list-group-item">
            <div class="row">
              <div class="col-sm-6">
                <strong>Grand Canyon University |</strong> <i>Bachelor of Science in Applied Technology</i>
              </div>
              <div class="col-sm-6 text-sm-end">
                <span class="date">2023</span>
              </div>
            </div>
          </li>
        </ul>

<!-- Certifications-->
        <br>
        <p class="text-center"><b><u>Certifications</u></b></p>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-6">
                <strong>Certification Name:</strong> CompTIA Security+
              </div>
              <div class="col-sm-6 text-sm-end">
                <span class="date">In Progress</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-6">
                <strong>Certification Name:</strong> Google Cybersecurity by Google on Coursera
              </div>
              <div class="col-sm-6 text-sm-end">
                <span class="date">July 7, 2023</span>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-6">
                <strong>Certification Name:</strong> Google Data Analytics by Google on Coursera
              </div>
              <div class="col-sm-6 text-sm-end">
                <span class="date">Nov 22, 2022</span>
              </div>
            </div>
          </li>
          <!-- Add more list items for additional certifications -->
        </ul>

<!-- Skills-->
        <br>
        <p class="text-center"><b><u>Skills</u></b></p>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <h5>Security</h5>
              <ul>
                <li>Threats, risks, and vulnerabilities</li>
                <li>Incident response</li>
                <li>Systems monitoring</li>
                <li>Security frameworks and controls</li>
                <ul>
                  <li>OWASP</li>
                  <li>MITRE ATT&CK</li>
                  <li>NIST CSF</li>
                </ul>
                <li>Security Hardening</li>
                <li>SIEM tools</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Programming</h5>
              <ul>
                <li>Linux command line</li>
                <li>Python</li>
                <li>Java</li>
                <li>SQL</li>
                <li>AWS</li>
                <li>Web Development</li>
                <ul>
                  <li>Flask</li>
                  <li>HTML & CSS</li>
                  <li>Bootstrap</li>
                </ul>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Penetration Testing</h5>
              <ul>
                <li>Kali Linux</li>
                <li>Nmap</li>
                <li>Metasploit</li>
                <li>Burp Suite</li>
                <li>Wireshark</li>
                <li>Nessus</li>
                <li>John the Ripper</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

